# Copy this file to overlay/.env and set your values.
# Variables here are sourced before install.sh runs inside the chroot.

PACKAGES="net-tools minicom"

HOSTNAME="custom-ubuntu"

USERNAME=user
PASSWORD=mnfnko13ifn13
